@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&di");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.85);
  font-family: 'Open Sans', sans-serif;
  
}

.default {
  background-image: url('./assets/default.jpg');
  background-size: cover;
  width: 100%;
  max-width: 70rem;
  margin: 3rem auto;
  min-height: 90vh;
  border-radius: 10px;
  transition: 0.4s ease-out;
}

.default.very-warm{
  background-image: url('./assets/very-warm.jpg');
}

.default.warm{
  background-image: url('./assets/warm.jpg');
}

.default.cold{
  background-image: url('./assets/cold.jpg');
}

.default.very-cold{
  background-image: url('./assets/very-cold.jpg');
}


@media (max-width: 900px) {
  .default {
    border-radius: 0;
  }
}