@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&di");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.85);
}


.app {
  background-image: url('./assets/mountain-default.jpg');
  background-size: cover;
  width: 100%;
  max-width: 70rem;
  margin: 3rem auto;
  height: 90vh;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}
